form(method="POST" action=postUri)
    style(scoped)
      include girdi.css
    #dugmeler
      | TODO:
    p= postUri
    .inputHelpers
    input(type="text")
    input(type="submit", value="Gönder")
