style(scoped)
  include girdi.css
#dugmeler
  | TODO:
input(type="submit" value="Gönder")
input#yazan(type="text" name="Yazan" placeholder="Adınız")
input#icerik(type="text" name="İçerik" placeholder="Yanıtınız")
