form {
  grid-area: form;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-areas:
    "dugmeler  gonder"
    "yazan     yazan "
    "icerik    icerik";
  border-radius: 5px;
  box-shadow: 0 2px 5px;
}

#dugmeler {
  background-color: rgb(185, 185, 185);
  border-top-left-radius: 5px;
  padding: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

#dugmeler > .dugme {
  display: inline-block;
  padding: 5px;
  width: 2em;
  z-index: 100;
}


input {
  border: none;
  height: 2.5rem;
  resize: none;
  box-sizing: border-box;
  font-size: 14px;
}

input[type=text] {
  background-color: white;
  border: none;
  padding: 5px;
}

input#icerik {
  grid-area: icerik;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

input#yazan {
  grid-area: yazan;
  border-bottom: 1px solid gray;
}

input[type=submit] {
  height: 100%;
  grid-area: gonder;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  padding: 0;
}