-
  let dugmeler = [
    {i: "\\`\\`", g: "``"},
    {i: "a^b", g: "^(b)"},
    {i: "a_b", g: "_(b)"},
    {i: "rootab", g: "root(a)(b)"},
    {i: "a^@", g: "^@"},
    {i: "veca", g: "veca"},
    {i: "Delta", g: "Delta"},
    {i: "=>", g: "=>"}
  ]
script()
  | let icerik = document.querySelector("#icerik")
  | function sembolGir(g) {
  |   icerik.setRangeText(
  |     g, icerik.selectionStart, icerik.selectionEnd)
  |   icerik.focus()
  |   return false
  | }
style(scoped)
  include girdi.css
#dugmeler
  for dugme in dugmeler
    button(type="button" href="javascript:void(0)" onclick!="sembolGir(\'"+dugme.g+"')")
      div(class="dugme") `#{dugme.i}`

input(type="submit" value="Gönder")
input#yazan(type="text" name="Yazan" placeholder="Adınız")
input#icerik(type="text" name="İçerik" placeholder="İçerik" autocomplete="off")
