doctype html
html
  head
    script(type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/styles.css")
    script(type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML")

body
    #app
      header
        h1 MatMS
        block topbar
      #container
        block content
          
