doctype html
html(lang="tr")
  head
    link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block desc
    style
      include styles.css
    //script(type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js")
    //script(defer type="text/javascript" src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.2.1.min.js")
    
    title MatMS
body
    header
      #verytop
        button#btn Soru sor
        a.addtohome.hidden(id="add-to-home" onclick="addToHome()") + Ana Ekrana Ekle
      h1 MatMS
      #girdi.hidden
        +girdi("/soru")
      #topbar
        block topbar
    #container
      #content
        block content

    script
      include ../../node_modules/mathquill/build/mathquill.min.js
    script
      include ../../node_modules/jquery/dist/jquery.min.js
    script
      include ../../node_modules/intercooler/dist/intercooler.js
    script.
      let btn = document.querySelector("#btn")
      let girdi = document.querySelector("#girdi")

      btn.onclick = () => {
        girdi.classList.contains("hidden")
          ? girdi.classList.remove("hidden")
          : girdi.classList.add("hidden")
      }

      // MathQuill
      
      let MQ = MathQuill.getInterface(2)
      let girdi = document.querySelector("#icerik")
      let input = MQ.MathField(girdi, {})

    script.
      //This is the "Offline copy of pages" service worker

      //Add this below content to your HTML page, or add the js file to your page at the very top to register service worker
      if (navigator.serviceWorker.controller) {
        console.log('[PWA Builder] active service worker found, no need to register')
      } else {
        //Register the ServiceWorker
        navigator.serviceWorker.register('pwabuilder-sw.js', {
          scope: './'
        }).then(function(reg) {
          console.log('Service worker has been registered for scope:'+ reg.scope);
        });
      }

      let addToHomeA = document.querySelector("#add-to-home")
      let addToHomeEvt

      window.addEventListener('beforeinstallprompt', (e) => {
        e.preventDefault()
        addToHomeEvt = e
        addToHomeA.classList.remove("hidden")
      })

      window.addEventListener('appinstalled', (evt) => {
        installed = true
        addToHomeA.classList.add("hidden")
      })

      function addToHome() {
        addToHomeEvt.prompt()
      }

      // thanks, PWA Builder!
