extends root.pug

style
  include index.css
block topbar
  form#form-sor
    input#sor(placeholder="Soru sor..." multiline)
block content
  #sorular
    for s in sorular
      .soru
        a(href=s.url)= s["İçerik"]
        br
        span #{s["yazan"]},<em> #{s["Yanıtlar"].length} cevap </em>
          
