extends includes/root.pug


block topbar
  form#form-sor
    input#sor(placeholder="Ara" multiline)
block content
  
  style
    include index.css

  #sorular
    for s in sorular
      .soru
        a(href=s.url)= s["İçerik"]
        br
        span #{s["yazan"]},<em> #{s["Yanıtlar"].length} cevap </em>
          
