extends includes/root.pug


block topbar
  form#form-sor
    input#sor(placeholder="Ara" multiline)
block content
  
  style
    include index.css

  #sorular
    for soru in sorular
      .soru
        a(href=soru.url)= soru["İçerik"]
        br
        span #{soru["yazan"]},<em> #{soru["Yanıtlar"].length} cevap </em>
          
