extends includes/root.pug


block topbar
  button#btn Soru sor
  #girdi.hidden
    - let postUrl = "../soru"
    form(method="POST" action=postUrl)
      include includes/girdi.pug
    
block content
  
  style
    include index.css
  
  #sorular(ic-get-from="/sorular" ic-poll="10s" ic-trigger-on="load")

  script
    include includes/index.pug.js
    
