extends includes/root.pug


block topbar
  input#ara(placeholder="Ara")
  button#btn Soru sor
  #girdi.hidden
    - let postUrl = "../soru"
    form(method="POST" action=postUrl)
      include includes/girdi.pug
    
block content
  
  style
    include index.css
  
  #sorular
    for soru in sorular
      .soru
        a(href="/soru?id="+soru.id)= soru["İçerik"]
        br
        span #{soru["Yazan"]},<em> #{soru.yanitlar.length} cevap </em>

  script
    include includes/index.pug.js
    
