extends includes/root.pug


block topbar
  form#form-sor
    input#sor(placeholder="Ara" multiline)
block content
  
  style
    include index.css

  #sorular
    for soru in sorular
      .soru
        a(href="/soru?id="+soru.id)= soru["İçerik"]
        br
        span #{soru["yazan"]},<em> #{soru.yanitlar.length} cevap </em>
          
