extends includes/root.pug
include includes/girdi.pug

block topbar
  button#btn Soru sor
  #girdi.hidden
    +girdi(post-to="../soru")
    
block content
  
  style
    include index.css
  
  #sorular(ic-get-from="/sorular" ic-poll="10s" ic-trigger-on="load")

  script
    include includes/index.pug.js
    
