extends root.pug

style
  .soru {
    background-color: white;
    box-shadow: 0 2px 5px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .soru > a {
    font-size: 2.5rem;
  }
  #sor {
    grid-area: arama;
    height: 3em;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: lightgray;
    border-radius: 5px;
    border: none;
    resize: none;
  }
block topbar
  form#form-sor
    input#sor(placeholder="Soru sor..." multiline)
block content
  #sorular
    for s in sorular
      .soru
        a(href=s.url)= s["İçerik"]
        br
        span #{s["yazan"]},<em> #{s["Yanıtlar"].length} cevap </em>
          
