extends includes/root.pug
block topbar 
  a(href="/")= "`larr`"
block content
    .soru
        a(href=soru.url)= soru["İçerik"]
        br
        span #{soru["yazan"]},<em> #{soru["Yanıtlar"].length} cevap </em>
